@font-face {
	font-family: 'MuseoSlab-500';
	src: url('../fonts/MuseoSlab-500.eot?') format('eot'),
	     url('../fonts/MuseoSlab-500.woff') format('woff'),
	     url('../fonts/MuseoSlab-500.ttf')  format('truetype'),
	     url('../fonts/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
}

html
{
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

#p5root
{
  float: left;
  margin: 2em 0 2em 5em;
  cursor: pointer;
}

#menu
{
  margin: 4.65em 0 0 0;
  float: right;
  font-family: 'MuseoSlab-500';
  padding-right: 2em;
}

.menuItem
{
  float: left;
  margin-right: 1em;
}

#sharingTop
{
  float: right;
  margin: 3.45em 7em 0 0em;
}

#sharingBottom
{
  display: none;
}

#sharingTop img, #sharingBottom img
{
  width: 40px;
  height: 40px;
}

body
{
  font: normal 100% Helvetica, Arial, sans-serif;
  color: #444444;
  line-height: 1.4em;
  background: #ffffff;
}

#logoType
{
  margin: 2em 0 0.3em 0.7em;
  line-height: 1em;
  float: left;
}

h1
{
 font-family: 'MuseoSlab-500';
}

p
{
  margin: 1.5em 0;
}

#logoType div
{
  font-size: 130%;
}

.main
{
  clear: both;
  margin: 1em 6em 2em 6em;
}

ul
{
  padding: 0;
}

circles ul
{
  margin: 0 -1em 0 -1em;
  padding: 0 6em;
  text-align: center;
}

circles li
{
  margin: 1em;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

ul:after
{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.overlay
{
  position: absolute;
  top: 0;
  left: 50%;
  visibility: hidden;
  height: 200px;
}

.overlay img
{
  position: absolute;
  top: 0;
  left: -100px;
}

.overlay div
{
  position: relative;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-family: 'MuseoSlab-500';
  font-weight: bold;
  font-size: 150%;
}

.tagsHeader
{
  float: left;
  margin: 0.7em 0.2em 0em 6em;
  padding: 0.2em;
  color: #963232;
  font-weight: bold;
}

tagFilters ul
{
  margin: 0.5em 10em 1em 10em;
}

tags ul
{
  margin: 0.5em 0 1em 0;
}

tagFilters li, tags li
{
  color: #ffffff;
  margin: 0.2em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  float: left;
  list-style-type: none;
}

tagFilters li, tags li
{
  cursor: pointer;
  background-color: #aa8080;
}

tagFilters li.mouseOver, tags li.mouseOver
{
  background-color: #963232;
}

tagFilters li.selected
{
  background-color: #963232;
  font-weight: bold;
}

tagFilters li#clearTags
{
  background-color: #963232;
  font-weight: bold;
}

h2.projectTitle
{
  font-family: 'MuseoSlab-500';
  float: left;
  width: 100%;
  margin: 0 0 1em 0;
}

.projectImages img
{
  max-width: 100%;
}

.caption
{
  font-style: italic;
}

.projectImage
{
  margin: 0 1em 1em 0;
  max-width: 100%;
  float: left;
}

.projectImageLeft
{
  margin: 0 1em 1em 0;
  max-width: 48%;
  float: left;
}

.projectImageRight
{
  margin-bottom: 1em;
  max-width: 48%;
  float: right;
}

.preserveAspectRatio
{
  position: relative;
  width: 100%;
  height: 0;
  float: left;
  padding-bottom: 57%;
}

.preserveAspectRatio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.projectImages:after
{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

#contact
{
  margin-top: 1em;
  max-width: 90%;
  text-align: center;
}

a
{
  text-decoration: none;
  color: #963232;
}

a:hover
{
  text-decoration: underline;
}

#tailNav
{
  
}

.prevProject
{
  float: left;
}

.nextProject
{
  float: right;
}

#tailNav:after
{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

@media screen and (max-width: 950px)
{
  
  #p5root
  {
    margin: 2em 0 0 2em;
  }

  #sharingTop
  {
    margin: 2.4em 2em 0 0;
  }

  .main
  {
    margin: 1em 2em 2em 2em;
  }

  #menu
  {
    margin: 1em 1.5em 3em 3em;
    padding: 0;
    float: right;
    clear: right;
  }

  .menuItem
  {
    float: left;
    margin-right: 1em;
  }

  circles ul
  {
    padding: 0 2em;
  }

  tagFilters ul
  {
    margin: 0.5em 8em 1em 8em;
  }
}

@media screen and (max-width: 700px)
{
  #p5root
  {
    margin: 1em 0 2em 0.8em;
  }

  #sharingTop
  {
    display: none;
  }

  #sharingBottom
  {
    display: block;
    margin-top: 1em;
  }

  #menu
  {
    clear: both;
    float: right;
    margin: 0 0.5em 2.5em 0.5em;
  }

  h1
  {
    font-size: 160%;
  }

  h2
  {
    font-size: 130%;
  }

  .main
  {
    margin: 0 0.5em 2.5em 0.5em;
  }

  .projectText
  {
    width: auto;
    margin-left: 0;
  }

  .projectImages
  {
    float: none;
    clear: both;
    max-width: 100%;
  }

  .projectImageLeft, .projectImageRight
  {
    max-width: 100%; /* Screen too narrow to sit side-by-side.*/
    margin-right: 0;
  }

  circles ul
  {
    padding: 0 1em;
  }

  circles li
  {
    margin: 0.5em;
  }

  circles li img
  {
    width: 120px;
  }

  .overlay
  {
    height: 120px;
  }

  .overlay img
  {
    left: -60px;
  }

  .overlay div
  {
    font-size: 100%;
  }

  .tagsHeader
  {
    margin: 0.7em 1em 0em 1em
  }

  tagFilters ul
  {
    margin: 0.5em 1em 1em 1em;
  }

  .prevProject
  {
    width: 40%;
  }

  .nextProject
  {
    width: 40%;
  }
}

@media screen and (max-width: 450px)
{
  #menu
  {
    float: left;
  }
}